---
import "../style/type.css";
import "../style/main.css";

const { title } = Astro.props;

import Canvas from "../components/Canvas.astro";
import Meta from "src/components/Meta.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Meta title={title} imageUrl={} description={} keyworks={} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <div data-taxi>
      <main data-taxi-view class="Main">
        <slot />
      </main>
    </div>

    <Canvas />
  </body>
</html>
