---
import Layout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Home">
  <Section>
    <div class="px-gx">index</div>
  </Section>
</Layout>
