/* ------------------------------  Variables */
:root {
  /* Colors */
  --color-black: #111111;
  --color-white: #fefefe;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

/* ------------------------------  Utils */
html,
body {
  overscroll-behavior: none;
  touch-action: none;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* ------------------------------  Main */

/* ------------------------------  Webgl */
[data-gl="c"] {
  position: fixed;
  box-sizing: border-box;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: -10;
  pointer-events: none;
  /* background: blue; */
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

/* ------------------------------  Layout */
body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Sohne-web";
  font-size: 14px;
}

main {
  min-height: 100vh;
}

.Section {
  /* border: 1px solid blue; */

  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.c {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

/* ------------------------------  ... */
