:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: var(--100vh);
  font-size: 16px;

  font-weight: 400;
}

.sec {
  min-height: 100vh;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tracking {
  min-height: 100vh;
  /* border: 1px solid red; */
}

/* TEMP -- text animation */
.flex {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center p {
  font-size: 14px;
  font-weight: 400;
  max-width: 50ch;
}

.center h1 {
  font-size: 4vw;
  font-weight: 400;
  line-height: 1em;
}

.center h2 {
  font-size: 2vw;
  font-weight: 400;
  line-height: 1em;
}

/* TEMP -- nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;

  position: fixed;
  top: 0px;
  width: 20%;
  box-sizing: content-box;
}

[data-a="transform"] {
  border: 1px solid pink;
}
